.wrapper-homepage {
    .block-menu {
        margin-top: 37px;
        margin-right: 70px;
        width: 320px;
        height: 100px;
        background-color: #72bf44;
        float: left;
        margin-bottom: 30px;
        padding: 0 17px;
        position: relative;
        .title-module {
            font-family: 'Roboto';
            font-size: 18px;
            text-align: left;
            font-weight: bold;
            color: #ffffff;
            line-height: 1;
            margin-top: 10px;
            text-transform: uppercase;
        }
        .div-left {
            position: absolute;
            left: 20px;
            bottom: 10px;
        }
        .div-right {
            position: absolute;
            right: 20px;
            bottom: 1px;
        }
    }
}
