<div class="container wrapper-homepage">
  <a *ngFor="let module of menuConfig" [routerLink]="module.baseUrl">
    <div class="block-menu">
      <div class="title-module">{{module.text}}</div>
      <div class="div-left">{{module.number}}</div>
      <div class="div-right">{{module.icon}}</div>
    </div>
  </a>
</div>
