<div class="wrapper-layout">
  <div class="header container-fluid">
    <div class="row">
        <div class="col-md-8"></div>
        <div class="col-md-4 header-left">
            <div class="row">
                <div class="col-md-5 user-info">
                    <span class="username">{{currentUser}}</span>
                    <span class="email">{{email}}</span>
                </div>
                <div class="col-md-5 logout-icon">
                  <button class="btn-danger btn-logout" (click)="openPopupLogout()">Logout</button>
                  <div class="popup-logout" *ngIf="isOpenPopup">
                    <span class="confirm-logout">Do you want to logout?</span>
                    <button class="btn-confirm-logout" (click)="logout()">OK</button>
                  </div>
                </div>
                <div class="col-md-2"></div>

            </div>
        </div>
      </div>
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li
            class="breadcrumb-item"
            *ngFor="let item of breadcrumb"
            [class.disabled]="item.disable"
          >
            <a [routerLink]="item.linkTo">{{item.text}}</a>
          </li>
        </ol>
      </nav>
  </div>

  <div class="content">
    <router-outlet (activate)="onActivate($event)"></router-outlet>
  </div>
  <Footer class="footer fixed-bottom">Footer</Footer>
</div>
