.wrapper-layout {
	.header nav ol, .content, .footer {
		padding-left: 100px;
		padding-right: 100px;
	}
	.content {
		min-height: 450px;
	}
	.header {
		.header-left {
			.user-info {
				.username, .email {
					display: block;
					color: #72bf44;
				}
			}
			.logout-icon {
				text-align: center;
				.btn-logout {
					margin-top: 7px;
				}
			}
			.popup-logout {
				position: absolute;
				border: solid 1px #eee;
				max-width: 200px;
				height: 120px;
				text-align: center;
				left: 26px;
				top: 34px;
				background: #fff;
				border-bottom: solid 1px #72bf44;
				padding: 10px;
				.btn-confirm-logout {
					max-width: 40px;
					height: 30px;
					background-color: #72bf44;
					color: #fff;
					outline: none;
					display: block;
					margin-left: 35%;
					margin-top: 10px;
				}
			}
		}
		.breadcrumb {
			li.disabled a {
				cursor: default;
				text-decoration: none;
			}
		}
	}
	.footer {
		background-color: #f6f6f6;
		box-shadow: inset 0px 1px 0 0 #d9d9d9;
		text-align: right;
		vertical-align: middle;
		padding: 10px 30px;
	}
}