<div *ngIf="isLogged; else loginPage">
    <app-page-layout (loginEvent)="checkLogin($event)">
        <router-outlet></router-outlet>
    </app-page-layout>
</div>
<ng-template #loginPage>
    <router-outlet (activate)="onActivate($event)"></router-outlet>
</ng-template>
